@import url(normalize.css);

:root {
  --header-footer-bg-color: #111;
  --border-color: #333;
  --body-text-color: #eee;
  --body-link-color: #eee;
  --nav-link-color: #fff;

  --danger: #f55;
  --success: #0f9;
  --warning: #f00;
  --error: #f00;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: var(--body-text-color);
  /* <weight>: Use a value from 300 to 800 */
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  min-height: 100vh;
  /* overscroll-behavior: none; */
}

a {
  color: var(--link-color);
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h4, h5, h6 {
  margin-top: 0;
}

/* flash messages - across the page, under the header */
.flash {
  text-align: center;
  margin: 0;
  padding: 0.25em 0;
  color: var(--header-footer-bg-color);
}

.danger {
  background-color: var(--danger);
}
.success {
  background-color: var(--success);
}
.warning {
  background-color: var(--warning);
}

/* for form field errors */
.error {
  color: var(--error);
}

/* label/input sections */
form div {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom: 1rem;
}

form label {
  margin-bottom: 0.5rem;
}

input, select {
  display: block;
  border-radius: 5px;
  border-width: 1px;
  border-color: transparent;
}

input:not([type='checkbox']) {
  width: 100%;
  padding: 0.7em;
}

select {
  padding: .4em;
}

button, .button {
  padding: 0.7em 2em;
  background-color: #fff;
  line-height: 1.15; /* to match the normalize.css button line-height */
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  border-width: 1px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

button.link {
  padding: 0;
  background-color: transparent;
  text-transform: none;
  text-decoration: underline;
  color: var(--body-link-color);
  border: none;
}

/*---------- content wrapper */

.ml__main {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

/*---------- header */
header {
  width: 100%;
  background-color: var(--header-footer-bg-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-brand a {
  font-weight: 600;
  letter-spacing: -1px;
  text-decoration: none;
}

.nav-links.desktop {
  display: none;
}

.nav-links.mobile {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: .5rem 1rem;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

@media screen and (min-width: 768px) {
  .nav-links.desktop {
    display: block;
  }
  .nav-links.mobile {
    display: none;
  }
}

.nav-links a {
  color: var(--nav-link-color);
  letter-spacing: normal;
  margin: 0 .5rem;
  text-decoration: none;
}
.nav-links a:first-child {
  margin-left: 0;
}
.nav-links a:last-child {
  margin-right: 0;
}

.nav-links.mobile a {
  font-size: .85rem;
  padding: .25rem 0;
}

/* logout link */
.nav-links button.link {
  color: var(--nav-link-color);
  text-decoration: none;
}

/*---------- footer */
footer {
  width: 100%;
  padding: 1rem;
  background-color: var(--header-footer-bg-color);
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credit {
  text-decoration: none;
}

/*---------- main */

.pageTitle {
  margin-top: 0;
}

.main {
  flex-grow: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, .75)), url('../images/US-en-20230109-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  overflow: scroll;
}

.ml__content--small {
  width: min(400px, 100%);

}
.ml__content--wide {
  width: min(1140px, 100%);
}

.ml__welcome-heading {
  line-height: normal;
}
.ml__welcome-note {
  margin-bottom: 2.5rem;
}
.ml__welcome-note--new-user {
  padding: 1rem;
  background-color: #0f9;
  color: #000;
}
.ml__welcome-note--new-user > *:first-child {
  margin-top: 0;
}
.ml__welcome-note--new-user > *:last-child {
  margin-bottom: 0;
}
.ml__welcome-note--note {
  font-size: 0.65rem;
}

.ml__home--btn {
  margin-right: 1rem;
}

.ml__login--signup-note {
  margin-top: 2rem;
}

.ml__search-form-container {
  width: min(500px, 100%);
}

.ml__search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 465px) {
  .ml__search-form {
    flex-direction: row;
    align-items: center;
  }
}

.ml__search-form input {
  margin: 0;
}

.ml__movie-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
.ml__search-results--pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.ml__movie-list--item {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 2rem;
}

.ml__movie-list--image {
  display: block;
  flex-grow: 1;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  aspect-ratio: 2/3;
  background-position: center center;
  background-size: cover;
  margin-bottom: 12px;
}
.ml__movie-list--info-container {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: rgba(0,0,0,.7);
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  text-decoration: none;
}

.ml__movie-list--image:hover .ml__movie-list--info-container {
  display: flex;
}

.ml__movie-list--title {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.15;
}
.ml__movie-list--info-container p {
  margin: 0;
  font-size: 0.85rem;
  text-align: center;
}

.ml__search-result button {
  width: 100%;
}
.ml__search-result--movie-in-list,
.ml__search-result--add-movie-success {
  display: block;
  margin-bottom: 0;
  text-transform: uppercase;
  padding: 0.7em;
  text-align: center;
  line-height: 1.15; /* set line height to match normalize line height */
}

.ml__search-result--movie-in-list {
  color: #fff;
}

.ml__search-result--add-movie-success {
  color: #0f9;
}

.ml__movie-details--go-back {
  display: block;
  margin-bottom: 2rem;
}

.ml__movie-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .ml__movie-details-container {
    flex-direction: row;
  }
}


.ml__movie-details {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  list-style: none;
  border-bottom: 1px dotted var(--border-color);
}

.ml__movie-details--title {
  margin-top: 0;
  line-height: normal;
}

.ml__movie-details--item {
  margin-bottom: 0.5rem;
}


.ml__movie-details--my-list-container{
  padding-top: 1rem;
}

.ml__movie-details--edit-title {
  margin-bottom: 0;
}

.ml__movie-details--edit-note {
  margin-top: 0;
  margin-bottom: 2rem;
}

.ml__movie-details--add-edit-form-favorite {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
}

.ml__movie-details--add-edit-form-favorite label,
.ml__movie-details--add-edit-form-favorite input {
  flex-grow: 0;
  margin-bottom: 0;
}

.ml__movie-details--add-edit-form-platform select {
  padding: .5rem;

}

/* my-list sort & filter form */
.ml__my-list--sort-filter-container {
  margin-bottom: 2rem;
}

.ml__my-list--sort-filter-form {
  border: 0;
}

@media screen and (min-width: 767px) {
.ml__my-list--sort-filter-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px dotted var(--border-color);
  border-bottom: 1px dotted var(--border-color);
  gap: 3rem;
}
}

.ml__my-list--sort-filter-form label,
.ml__my-list--sort-filter-form input {
  margin: 0;
}

.ml__my-list--filter,
.ml__my-list--sort,
.ml__my-list--sort-filter-buttons {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.ml__my-list--filter > div,
.ml__my-list--sort > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}
  /* divs in the filter form */
.ml__my-list--filter {
  border-top: 1px dotted var(--border-color);
  border-bottom: 1px dotted var(--border-color);
}

/* sort form */
.ml__my-list--sort {
  border-bottom: 1px dotted var(--border-color);
}

@media screen and (min-width: 768px) {
    /* divs in the filter form */
  .ml__my-list--filter {
    border-top: none;
    border-bottom: none;
  }

  /* sort form */
  .ml__my-list--sort {
    border-bottom: none;
  }
}

.ml__my-list--sort-filter-apply-button.disabled {
  pointer-events: none;
}

.ml__my-list--sort-note-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2.5rem;
  padding: 0.25em 0;
  border-top: 1px dotted var(--border-color);
  border-bottom: 1px dotted var(--border-color);
}
.ml__my-list--sort-note {
  margin: 0;
}

.ml__movie-list--functions-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .75rem;
}

/* favorite star */
.fa-star{
  font-size: 1.55rem;
  cursor: pointer;
}

.fa-star.hidden{
  display: none;
}

/* favorited */
.fa-star.fas {
  color: #0f9;
}
/* not favorited */
.fa-star.far {
  color: #fff;
}

/* added checkmark */
.fa-check-circle {
  font-size: 1.65rem;
  cursor: pointer;
}

.fa-check-circle.hidden {
  display: none;
}

/* not in list */
.fa-check-circle.far {}

/* added to list */
.fa-check-circle.fas {}



.ml__my-favorites--heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.ml__my-favorites--heading-container > * {
  margin: 0;
}

.ml__edit-profile--edit-container {
  border-bottom: 1px dotted var(--border-color);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.ml__edit-profile--delete-warning {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border: 1px solid var(--warning-red);
  padding: 1rem;
}
