@import url(normalize.css);

:root {
  --body-bg-color: #111;
  --body-bg-color-transparent: rgba(17, 17, 17, .85);

  --body-border-color: #666;
  
  --body-text-color: #eee;
  --body-link-color: #eee;

  --button-bg-color: var(--body-bg-color-transparent);
  --button-text-color: var(--body-text-color);
  --button-border-color: #eee;

  --input-bg-color: var(--body-bg-color-transparent);
  --input-text-color: var(--body-text-color);
  --input-border-color: #eee;

  --logo-color: rgb(229,9,20);

  --nav-link-color: #fff;
  --nav-link-border-color: #666;

  --danger: #f55;
  --success: #0f9;
  --warning: #f00;
  --error: #f00;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
  /* <weight>: Use a value from 300 to 800 */
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h4, h5, h6 {
  margin-top: 0;
}

/* flash messages - across the page, under the header */
.flash {
  text-align: center;
  margin: 0;
  padding: 0.25em 0;
  color: var(--body-bg-color);
}

.danger {
  background-color: var(--danger);
}
.success {
  background-color: var(--success);
}
.warning {
  background-color: var(--warning);
}

/* for form field errors */
.error {
  color: var(--error);
}

/* label/input sections */
form div {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

input, select {
  display: block;
  padding: 0.7em;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
}

input[type="text"] {
  width: 100%;

}

select {
  padding: .4em;
}

button, .button {
  padding: 0.7em 2em;
  background-color: var(--button-bg-color);
  font-weight: normal;
  line-height: 1.15; /* to match the normalize.css button line-height */
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--button-text-color);
  border-radius: 5px;
  border: 1px solid var(--button-border-color);
  cursor: pointer;
}

button.link {
  font-weight: 400;
  padding: 0;
  background-color: transparent;
  text-transform: none;
  text-decoration: underline;
  color: var(--body-link-color);
  border: none;
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: .05em;
  color: var(--logo-color);
  line-height: 1em;
}

/*---------- content wrapper */

.ml__body--inner-container {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

/*---------- header */
header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--body-border-color);
}

.nav-brand a {
  font-size: 22px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.nav-links a {
  text-decoration: none;
  line-height: 1em
}

.my-list-links {
  gap: .75rem;
}

.my-list-links.desktop {
  display: none;
}

.my-list-links.mobile {
  display: flex;
  padding: .75rem 1rem;;
  justify-content: flex-start;
  border-bottom: 1px solid var(--body-border-color);
}

@media screen and (min-width: 391px) {
  .my-list-links.desktop {
    display: flex;
  }
  .my-list-links.mobile {
    display: none;
  }
}

.my-list-links a {
  padding: .5rem 1.25rem;
  color: var(--nav-link-color);
  font-size: .7rem;
  line-height: 1.1em;
  border: 1px solid var(--nav-link-border-color);
  border-radius: 20px;
}

.logoutIcon,
.sortIcon,
.searchIcon,
.favoritesIcon {
  font-size: 18px;
  cursor: pointer;
}

.favoritesIcon.active {
  color: var(--logo-color);
}

/*---------- footer */
footer {
  width: 100%;
  padding: 1rem;
  background-color: var(--body-bg-color);
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credit {
  text-decoration: none;
}

/*---------- main */

.main {
  flex-grow: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, .75)), url('../images/US-en-20230109-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.pageTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--body-bg-color);
  border-bottom: 1px solid var(--body-border-color);
  position: relative;
}

.pageTitleWrapper,
.sortFilterWrapper {
  display: flex;
  align-items: center;
}

.ml__my-favorites--heading-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pageTitle {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1em;
  margin: 0;
}

@media screen and (min-width: 391px) {
  .pageTitle {
    font-size: 1.25rem;
  }
}

.pageTitle a {
  display: block;
  margin: 0;
  text-decoration: none;
}

.pageTitle-separator{
  font-weight: 700;
  line-height: 1em;
  margin: 0 1rem;
}

.mainContent {
  flex-grow: 1;
  display: grid;
  justify-items: center;
  align-items: center;
}

.ml__content--small {
  width: min(400px, 100%);
  padding: 2rem 1.25rem;

}
.ml__content--wide {
  width: min(1140px, 100%);
  padding: 2rem 1.25rem;
}

/* on home page */
.ml__welcome-heading {
  font-size: 48px;
}

/* on movie-search page for new users */
.ml__welcome-note {
  margin-bottom: 2.5rem;
}
.ml__welcome-note--new-user > *:first-child {
  margin-top: 0;
}
.ml__welcome-note--new-user > *:last-child {
  margin-bottom: 0;
}
.ml__welcome-note--note {
  font-size: 0.75rem;
}

.ml__home--btn {
  margin-right: 1rem;
}

.ml__login--signup-note {
  margin-top: 2rem;
}

.ml__search-form-container {
  width: min(500px, 100%);
}

.ml__search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 465px) {
  .ml__search-form {
    flex-direction: row;
    align-items: center;
  }
}

.ml__movie-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 550px){
  .ml__movie-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 800px){
  .ml__movie-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px){
  .ml__movie-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.ml__movie-list--item {
  margin-bottom: 2rem;
}

.ml__movie-list--image {
  display: block;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  aspect-ratio: 2/3;
  background-position: center center;
  background-size: cover;
  margin-bottom: 12px;
}
.ml__movie-list--info-container {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: rgba(0,0,0,.7);
  justify-content: center;
  align-items: center;
  gap: .25rem;
  padding: 1rem;
  text-decoration: none;
}

.ml__movie-list--image:hover .ml__movie-list--info-container {
  display: flex;
}

.ml__movie-list--title {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.15;
  text-align: center;
}

.ml__movie-list--info-container p {
  margin: 0;
  font-size: 0.75rem;
  text-align: center;
}

.ml__search-results--pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.ml__movie-details--go-back {
  display: block;
  margin-bottom: 2rem;
}

.ml__movie-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .ml__movie-details-container {
    flex-direction: row;
  }
}

.ml__movie-details {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  list-style: none;
  border-bottom: 1px dotted var(--body-border-color);
}

.ml__movie-details--title {
  margin-top: 0;
  line-height: normal;
}

.ml__movie-details--item {
  margin-bottom: 0.5rem;
}


.ml__movie-details--my-list-container{
  padding-top: 1rem;
}

.ml__movie-details--edit-title {
  margin-bottom: 0;
}

.ml__movie-details--edit-note {
  margin-top: 0;
  margin-bottom: 2rem;
}

.ml__movie-details--add-edit-form-favorite {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
}

.ml__movie-details--add-edit-form-favorite label,
.ml__movie-details--add-edit-form-favorite input {
  flex-grow: 0;
  margin-bottom: 0;
}

.ml__movie-details--add-edit-form-platform select {
  padding: .5rem;

}

/* my-list sort & filter form */
.ml__my-list--sort-container {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--body-bg-color-transparent);
  border-bottom: 1px solid var(--body-border-color);
}

@media screen and (min-width: 767px) {
.ml__my-list--sort-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
}

.ml__my-list--sort-form label,
.ml__my-list--sort-form input {
  margin: 0;
}

/* sort form */
.ml__my-list--sort {
  padding: 0 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 0;
  border-bottom: 1px dotted var(--body-border-color);
}

.ml__my-list--sort > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
  /* sort form */
  .ml__my-list--sort {
    border-bottom: none;
  }
}

.ml__my-list--sort-apply-button {
  width: 100%;
}

.ml__my-list--sort-apply-button.disabled {
  opacity: 50%;
  pointer-events: none;
}

.ml__my-list--sort-note-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
  padding: 0.25em 0;
}
.ml__my-list--sort-note {
  margin: 0;
}

.ml__movie-list--functions-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .75rem;
}

/* favorite star */
.favoriteIcon {
  font-size: 1.55rem;
  cursor: pointer;
}

/* .fas favorited */
/* .far not favorited */
.far.favoriteIcon {
  color: #fff;
}

.fas.favoriteIcon{
  color: var(--logo-color);
}

/* added checkmark */
.fa-check-circle {
  font-size: 1.65rem;
  cursor: pointer;
}

.ml__edit-profile--edit-container {
  border-bottom: 1px dotted var(--body-border-color);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.ml__edit-profile--delete-warning {
  background-color: var(--body-bg-color-transparent);
  border-radius: 5px;
  border: 1px solid var(--warning);
  color: var(--warning);
  padding: 1rem;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}