<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <title>{% block pagetitle %}{% endblock %}</title>
  </head>
  <body>
    <div class="ml__main">
      <header>
        <nav>
          <div class="nav-brand">
            <a href="/">MyMovieLedger</a>
          </div>

          {% if g.user %}
          <div class="nav-links desktop">
            <a href="/movies">My List</a>
            <a href="/movie-search">Movie Search</a>
            <a href="/profile">Profile</a>
          </div>
          {% endif %}

          <div class="nav-links">
            {% if g.user %}
            <form method="post" action="/logout">
              <button class="link">Logout</button>
            </form>
            {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            {% endif %}
          </div>
        </nav>
        
        {% if g.user %}
        <div class="nav-links mobile">
          <a href="/movies">My List</a>
          <a href="/movie-search">Movie Search</a>
          <a href="/profile">Profile</a>
        </div>
        {% endif %}
      </header>

      {% for category,msg in get_flashed_messages(with_categories=true) %}
      <p class="flash {{ category }}">{{ msg }}</p>
      {% endfor %}

      <main id="mainContent">
        <section class="ml__content-container">
          {% block pagecontent %}{% endblock %}
        </section>
      </main>

      <footer>
        <p class="copyright">
          ©
          <span id="year"></span>
          | My Movie Ledger
        </p>
        <p class="credit">
          <a href="https://whoisjaytee.com" target="_blank">Who is Jaytee?</a>
        </p>
      </footer>
    </div>
    <script>
      document.getElementById('year').innerHTML = new Date().getFullYear();
    </script>
  </body>
</html>
