<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block pagetitle %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300..800&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <div class="ml__body--inner-container">
      <header>
        <nav>
          <div class="nav-brand">
            <a class="logo" href="{% if g.user %}/movies{% else %}/{% endif %}">MYFLIX</a>
          </div>

          {% if g.user %}
          <div class="nav-links my-list-links desktop">
            <a href="/movies">My List</a>
            <a href="/movies?filter=favorites">Favorites</a>   
            <a href="/movie-search" class="my-list-links__movie-search-link">Movie Search</a>   
          </div>
          {% endif %}

          <div class="nav-links">
            {% if g.user %}
            <a href="/movie-search" class="searchIcon-wrapper"><i class="fas fa-search searchIcon"></i></a>
            <a href="/profile"><i class="fas fa-user profileIcon"></i></a>
            <form method="post" action="/logout">
              <button class='link'><i class="fas fa-sign-out-alt logoutIcon"></i></button>
            </form>
            {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            {% endif %}
          </div>
        </nav>
        
        {% if g.user %}
        <div class="nav-links my-list-links mobile">
          <a href="/movies">My List</a>
          <a href="/movies?filter=favorites">Favorites</a>
        </div>
        {% endif %}

        {% block pagetitleandfuncs %}{% endblock %}
      </header>

      <main id="main" class="main">

        {% for category,msg in get_flashed_messages(with_categories=true) %}
          <div class="flash {{ category }}">{{ msg }}</div>
        {% endfor %}

        <div class="mainContent">
          {% block pagecontent %}{% endblock %}
        </div>
          
      </main>

      <footer>
        <div class="copyright">© {{ g.year }}<span id="year"></span></div>
        <a class="credit" href="https://whoisjaytee.com" target="_blank">Who is Jaytee?</a>
      </footer>
    </div>

  </body>
</html>
