{% extends 'base.html' %}

{% block pagetitle %}My Movie Ledger{% endblock %}

{% block pagecontent %}
  <section class="ml__content--small">
    <h1 class="ml__welcome-heading">MYFLIX</h1>
    <div class="ml__welcome-note">
      <p>Keep a list of all the movies you've watched, regardless of platform!</p>
      <p>No more scrambling for "What was that movie again?"</p>
    </div>

    {% if g.user %}
      <a class="button ml__home--btn" href="/movies">My List</a>
      <a class="button ml__home--btn" href="/movie-search">Search</a>
    {% else %}
      <a class="button ml__home--btn" href="/login">Login</a>
      <a class="button ml__home--btn" href="/signup">Signup</a>
    {% endif %}
  </section>
{% endblock %}
