
  <section id="ml__movie-detail-modal" class='ml__movie-detail-modal'>
    <div class='ml__movie-details-container'>
      <div id="movie_details-image" class='ml__movie-details-image'>
        <div id="ml__movie-detail-modal-close-btn" class="ml__movie-detail-modal-close-btn">x</div>
      </div>
      <div class="ml__movie-details-wrapper">
        <ul class="ml__movie-details">
          <li class="ml__movie-details--item"><h2 id="movie_details-title" class='ml__movie-details--title'></h2></li>
          <li class="ml__movie-details--item">Release Year: <span id="movie_details-release-year"></span></li>
          <li class="ml__movie-details--item">Rated: <span id="movie_details-rated"></span> </li>
          <li class="ml__movie-details--item">Released: <span id="movie_details-released"></span></li>
          <li class="ml__movie-details--item">Runtime: <span id="movie_details-runtime"></span></li>
          <li class="ml__movie-details--item">Genre: <span id="movie_details-genre"></span></li>
          <li class="ml__movie-details--item">Actors: <span id="movie_details-actors"></span></li>
          <li class="ml__movie-details--item">Plot: <span id="movie_details-plot"></span></li>
        </ul>

        <div id="ml__movie-modal--functions-container" class="ml__movie--functions-container" data-click-source="modal" data-my-list="" data-id="" data-title="" data-release-year="" data-img="">
          <i id="ml__movie-modal-my-list-icon" class="fas ml__movie--my-list" data-id="" ><span class="ml__movie-function--text">My List</span></i>
          <i id="ml__movie-modal-fav-icon" class="fa-heart ml__movie--fav" data-id="" ><span class="ml__movie-function--text">Favorite</span></i>
        </div>

        <form id="ml__edit-movie-form" class="ml__edit-movie-form" method="POST">
          {{ form.hidden_tag() }}

          <div class="ml__movie-details--edit-note">Add/Edit details below.</div>

          <div class='ml__add-edit-movie--input-wrapper'>            
            <div class="ml__movie-details--add-edit-form-platform">
              {{ form.platform.label }}
              {{ form.platform }}
              {% for error in form.platform.errors %}
                <div>
                  <span class="error">{{ error}}</span>
                </div>
              {% endfor %}
            </div>
            <div class="ml__movie-details--add-edit-form-date-viewed">
              {{ form.date_viewed.label }}
              {{ form.date_viewed }}    
              {% for error in form.platform.errors %}
                <div>movie_details-
                  <span class="error">{{ error}}</span>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="ml__add-edit-movie--button-wrapper">
            <button id="add-or-update-button" type="submit">Update Details</button>
          </div>

        </form>
      </div>
    </div>
  </section>
