{% extends 'base.html' %}

{% block pagetitle %}Movie Ledger | My Movie List{% endblock %}

{% block pagetitleandfuncs %}
  <div class="pageTitleContainer">
    <div class="pageTitleWrapper">
      {% if "favorites" in display_params.filters %}<a href="/movies">{% endif %}
        <h1 class="pageTitle">My List</h1>
      {% if "favorites" in display_params.filters %}</a>{% endif %}

      {% if "favorites" in display_params.filters %}
          <span class="pageTitle-separator">></span>
          <h2 class="pageTitle">Favorites</h2>
      {% endif %}
    </div>

    <div class="sortFilterWrapper nav-links">
      <a href="/movies?filter=favorites"><i class="fas fa-heart favoritesIcon {% if "favorites" in display_params.filters %}active{% endif %}"></i></a>
      <i id="sortIcon" class="fas fa-cog sortIcon"></i>
    </div>  

    {% if movies %}
      <div id="sortContainer" class="ml__my-list--sort-container hidden">
        <form id="sortForm" class="ml__my-list--sort-form">
          <div class="ml__my-list--sort">
            {% if "favorites" in display_params.filters %}
              <input type="hidden" name="filter" value="favorites" />
            {% endif %}
            <select id="sort" name="sort" class="ml__my-list--sort-term">
              <option {% if not display_params.sort %} selected {% endif %}value="" disabled hidden>Sort by...</option>
              <option {% if display_params.sort and "title" in display_params.sort.sort_term %} selected {% endif %}value="title">Title</option>
              <option {% if display_params.sort and "release_year" in display_params.sort.sort_term %} selected {% endif %}value="release_year">Release Year</option>
              <option {% if display_params.sort and "date_added" in display_params.sort.sort_term %} selected {% endif %}value="date_added">Date Added</option>
              <option {% if display_params.sort and "date_viewed" in display_params.sort.sort_term %} selected {% endif %}value="date_viewed">Date Viewed</option>
            </select>

            <div>
              <input type="radio" id="order-asc" name="order" value="asc" {% if display_params.sort and "ascending" in display_params.sort.sort_order %} checked {% endif %}>
              <label for="order-asc">Asc</label>
            </div>
            <div>
              <input type="radio" id="order-desc" name="order" value="desc" {% if display_params.sort and "descending" in display_params.sort.sort_order %} checked {% endif %}>
              <label for="order-desc">Desc</label>
            </div>
          </div>

          <button id="myListSortButton" class="ml__my-list--sort-apply-button" type="submit">Apply</button>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block pagecontent %}
  <div class="mainContent">
    <section id="pageContent" class='ml__content--wide'>
      {% if not movies %}
        {% if "favorites" in display_params.filters  %}
          <h3>No favorites found...</h3>
          <a class='backToMoviesLink' href="/movies">Back to All Movies</a>
        {% else %}
          <h3>No movies found...</h3>
          <a class="button" href="/movie-search">Search Now</a>
        {% endif %}
      {% endif %}

      {% if movies %}
        {% if sort_str %}
          <div id="ml__my-list--sort-note-container" class="ml__my-list--sort-note-container">
            <p class="ml__my-list--sort-note">{{ sort_str }}</p>
            
            {% if "favorites" in display_params.filters and "sort" not in display_params %}
              <a class="ml__my-list-filter--back-link" href="/movies">Back to All Movies</a>
            {% endif %}
            
            {% if "sort" in display_params %}
              <a class="ml__my-list-sort-filter--clear-link" href="/movies">Clear All</a>
            {% endif %}
          </div>
        {% endif %}

        <ul id="myMovieList" class="ml__movie-list">
          {% for movie in movies %}
            <li id="ml__movie-list-item-{{ movie.movie_id }}" class="ml__movie-list--item">
              <div class="ml__movie-list--image" href="/movie/{{ movie.movie_id }}" style="background-image: url({{ movie.movie_details.imdb_img }});">
                <div class="ml__movie-list--info-container" data-id="{{ movie.movie_details.imdb_id }}">
                  <h3 class="ml__movie-list--title">{{ movie.movie_details.title }}</h3>
                  <p class="ml__movie-list--release-year">({{ movie.movie_details.release_year }})</p>
                  <p class="ml__movie-list--date-added">Date Added: {{ movie.date_added }}</p>
                  <p class="ml__movie-list--date-viewed">Date Viewed: {{ movie.date_viewed }}</p>
                  <p class="ml__movie-list--platform">Platform: {{ movie.platform }}</p>
                </div>
              </div>
              
              <div id="ml__movie--functions-container=={{ movie.movie_id }}" class="ml__movie--functions-container" data-id="{{ movie.movie_id }}" data-my-list="true">
                <i id="ml__movie-my-list-icon--{{ movie.movie_id }}" class="fas fa-check ml__movie--my-list"></i>
                <i id="ml__movie-fav-icon--{{ movie.movie_id }}" class="{% if movie.favorite %}fas{% else %}far{% endif %} fa-heart ml__movie--fav"></i>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </section>
  </div>
  {% include 'movie-detail-modal.html' %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/js/movies.js"></script>
{% endblock %}