{% extends 'base.html' %}

{% block pagetitle %}Movie Ledger | Signup{% endblock %}

{% block pagecontent %}
  <section class="ml__content--small">
    <h1 class="sectionTitle">Create an Account</h1>
    <form id="ml__signup-form" method="POST">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type !='hidden' %}

      <div>
        {{ field.label }} {{ field }}
        {% for error in field.errors %}
          <span class="error">{{ error}}</span>
        {% endfor %}
      </div>

      {% endfor %}
      <button type="submit">Signup</button>
    </form>
  </section>
{% endblock %}
